body{
  /*background: #201F55;*/
  /* background: rgb(11, 17, 40);*/
  /*flex: auto;*/
  /*font-size: medium;*/
  margin: 0;
  /*color: white*/
  background-image: linear-gradient(to bottom right, #0D324D, #7F5A83);
}
h5, h1, h2, h3, h4, h6{
  margin: 5px;
}

.middleBar{
  display: flex;
  position: relative;
  flex: auto;
  flex-direction: row;
  /*width: 98vw;*/
  /*height: 95vh;*/
  width: 100vw;
  /*padding-top: 1vh;*/
}
.leftSide{
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 15vw;
  position: relative;
  /*background: #5f008e;*/
  height: 100vh;
  /*border-bottom-left-radius: 2vh;*/
  /*border-top-left-radius: 2vh;*/
}
.btn{
   margin-top: 1vh;
  text-align: center;
  color: #FFFFFF;
  font-weight: bold;
  flex: auto;
}
button{
  width: 85%;
  margin-left: 2vw;
  padding: 2.5vh 0 2.5vh 2.5vh;
  border-radius: 2vh;
  background-color: inherit;
  /*border: 1px solid #0e3bf1;*/
  border: inherit;
  cursor: pointer;
  text-align: left;
  font-size: medium;
  color: #bdbdcb;
  /* top: 50%; */
}
button:hover{
  background-color: rgba(103, 122, 197, 0.56);
  width: 85%;
  color: #FFFFFF;
  /*border-style: solid;*/
}
button.on{
  /*background: white;*/
  background: #bdbdcb;
  color: #5f008e;
}
.visual{
  /* padding-left: 3.3vh; */
  text-align: center;
  padding-bottom: 2vh;
}

.rightSide{
  padding: 2vh;
  width: 80vw;
  /*border-radius: 2vh;*/
  /*background: white;*/
  /*background: #bdbdcb;*/
  flex-direction: column;
  overflow: hidden;
}
.textBox{
  border-radius: 2vh;
  background: rgba(255, 255, 255, 0.82);
  margin: 1.2vh;
  padding: 2vh;
  display: flex;
  flex-direction: row;
  /*text-align: center;*/
}
.rightTop{
  display: flex;
  flex-direction: row;
}

.subTextBox{
  display: flex;
  flex-direction: row;
  width: 25vw;
  margin-left: 2vw;
}
.footer{
  width: 50%; bottom: 5px; position: fixed; left:35%;
}